
delayPlugin/Builds/MacOSX/delayPlugin.xcodeproj/xcuserdata/samsmith.xcuserdatad/xcschemes/xcschememanagement.plist
delayPlugin/Builds/MacOSX/delayPlugin.xcodeproj/project.xcworkspace/xcuserdata/samsmith.xcuserdatad/UserInterfaceState.xcuserstate
delayPlugin/Builds/MacOSX/delayPlugin.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
delayPlugin/Builds/MacOSX/build/Debug/libdelayPlugin.a
delayPlugin/Builds/MacOSX/build/Debug/delayPlugin.vst3
delayPlugin/Builds/MacOSX/build/Debug/delayPlugin.component
delayPlugin/Builds/MacOSX/build/Debug/delayPlugin.app/Contents/Resources/RecentFilesMenuTemplate.nib
delayPlugin/Builds/MacOSX/build/Debug/delayPlugin.app/Contents/PkgInfo
delayPlugin/Builds/MacOSX/build/Debug/delayPlugin.app/Contents/MacOS/delayPlugin
delayPlugin/Builds/MacOSX/build/Debug/delayPlugin.app/Contents/Info.plist
delayPlugin/Builds/MacOSX/build/.DS_Store
delayPlugin/Builds/MacOSX/.DS_Store
delayPlugin/Builds/.DS_Store
delayPlugin/.DS_Store
.DS_Store
